body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
}

#ned, #robert, #jon, #hound {
	display: inline-block;
	width: 200px;
	border: 2px solid black;
	padding-top: 10px;
}

.ned-hp, .robert-hp, .jon-hp, .hound-hp, .character-name {
	text-align: center;
	padding: 5px;
	margin: 0px;
}

.character-img {
	margin-left: 38px;
	height: 125px;
	width: 125px;
}

